.row-fluid {
	position: relative;
    z-index: 8;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-10, .margin-bottom-15, 
.margin-bottom-20, .margin-bottom-25, 
.margin-bottom-30, .margin-bottom-35, 
.margin-bottom-40, .margin-bottom-45, 
.margin-bottom-5, .margin-bottom-50, 
.margin-bottom-55, .margin-bottom-60 {
    clear: both;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    color: #333;
    font-size: 14px;
    line-height: 1.6;

    font-family: NotoSansHans-Regular,AvenirNext-Regular,proxima-nova,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Helvetica Neue",Arial,sans-serif;
}

#header {
    background: url(../images/top_bg_mobile_ratio.png) no-repeat scroll top center;
    background-size: 100% auto;
    height: 200px;
}

